<template>
    <v-app class="primary">
      <h1>WELCOME TO GREEN BOOTS</h1><br><br><br><br>
      <v-flex align-self-center>
        <v-img src="../assets/calendar.jpg" 
        max-height="400"
        max-width="550"></v-img>
      </v-flex>
      <v-flex align-self-baseline>
        <v-img src="../assets/weather.jpg" 
        max-height="250"
        max-width="300"></v-img>
      </v-flex>
      <v-flex align-self-start>
        <v-img src="../assets/planting.jpg" 
        max-height="250"
        max-width="300"></v-img>
      </v-flex>
    </v-app>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
    }),
  }
</script>

<style scoped>
@font-face {
  font-family: "Rowdies";
  src: local("Rowdies"),
   url(../fonts/Rowdies/Rowdies-Regular.ttf) format("truetype");
}
h1 {
  font-family: "Rowdies", Helvetica, Arial;
  font-size: 50px;
  color: #E1D9AC;
  text-shadow: -1px -1px 0 #C2AE78, 1px -1px 0 #C2AE78, -1px 1px 0 #C2AE78, 1px 1px 0 #C2AE78;
  text-align: center
}
</style>
