<template>
    <div class="planting">
    <div class="row">
    <div class="column">
    <img src="@/assets/cabbage.jpg">
    <h3>Cabage</h3>
    <p>Cabage  is one of the good cold season vegetables that continues to do well in the warmer weather. 
        Plant cabbage using seedlings any time this month, frost will not affect this hardy plant.</p>
    </div>
    <div class="column">
    <img src="@/assets/beetroot.jpg">
    <h3>Beetroot</h3>
    <p>Beetroot does well in warmer water but can also withstand any frost. It wont affect the flavor at all too. 
        It is one of the most durable and hardy plants of the season.</p>
    </div>
    <div class="column">
    <img src="@/assets/lettuce.jpg">
    <h3>Lettuce</h3>
    <p>Lettuce is perfect for this time if you want to harvest them early. 
        Make sure to use the faster-growing varieties that will mature in 45 days or so.</p>
    </div>
    <div class="column">
    <img src="@/assets/carrot.jpg">
    <h3>Carrots</h3>
    <p>Sow carrots on well-prepared soil that is free of stones – stony soil results in forked carrots.
      Do not forget that carrots are sometimes slow to germinate, so do not worry if they take time to sprout.</p>
    </div>
    </div>
    </div>
</template>

<style scoped>
.planting{
    margin: 100px 0px;
    
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 20px;
  font-size: 110%;
  line-height: 1.6;
  text-align: justify;
}

.column img {
  height: 120px;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>