<template>
<div class="tips">
    <div class="row">
    <div class="column">
    <img src="@/assets/tea.jpg">
    <p>Coffee, grapefruit, eggshells, tea and beer all fend off snails and slugs.</p>
    </div>
    <div class="column">
    <img src="@/assets/tomato.jpg">
    <p>Baking soda can make home-grown tomatoes taste less tart.</p>
    </div>
    <div class="column">
    <img src="@/assets/egg.jpg">
    <p>Grind eggshells into a powder and sprinkle in the garden for a calcium boost.</p>
    </div>
    <div class="column">
    <img src="@/assets/roll.jpg">
    <p>Make biodegradable planters out of toilet paper rolls.</p>
    </div>
    </div>
    </div>
</template>

<style scoped>
.tips{
    margin: 100px 0px;
    
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 20px;
  font-size: 110%;
  line-height: 1.6;
  text-align: justify;
}

.column img {
  height: 120px;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
